* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: sans-serif, "Times New Roman", Times, serif;
}
/* body {
  height: 100vh;
  width: 100vw;
} */
main {
  display: flex;
  height: 100vh;
}
.main-section {
  width: 35%;
  background-image: url(../img/green_leaf.jpeg);
  background-position: center;
}
.logo-container img {
  height: 70px;
  width: 70px;
  border-radius: 6px;
  vertical-align: middle;
  margin-left: 50px;
}
.adjust-logo-name {
  margin-right: 50px;
  margin-left: 0;
}
.logo-container {
  background-color: #110d00;
  color: white;
  text-align: center;
  font-size: 55px;
  margin-top: 30%;
  opacity: 0.6;
}
.img-details {
  color: white;
  text-align: center;
  margin: 60vh 0 10px 0;
}
.img-details a {
  color: white;
  font-weight: bolder;
}
.img-details a:hover {
  color: brown;
}
.side-section {
  width: 65%;
}
.upper-bar {
  height: 35%;
  background-color: #f9fafb;
  padding: 60px 0 0 40px;
}
.info {
  font-weight: bold;
  font-size: large;
  margin-bottom: 25px;
}
.info-bottom {
  font-weight: bold;
  font-size: large;
}
.mid-bar {
  padding-left: 40px;
  height: 30%;
}
.lower-bar {
  height: 35%;
  padding: 40px 0 0 40px;
  background-color: #f9fafb;
}
.lower-bar button {
  background-color: #596d48;
  padding: 15px 50px;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: bold;
}
.login {
  font-size: large;
  margin-top: 40px;
}
.login a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}
/*  background-color: lightslategray;
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
} */
/* form {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
} */
/* form .last-name {
  margin-right: 70px;
}
form .phone {
  margin-right: 36px;
}
form .phone input {
  width: 80%;
}
form .confirm-pwd input {
  width: 72%;
}
form .email input {
  width: 104%;
}
form .first-name input {
  width: 87%;
} */
/* button {
  border-radius: 8px;
  border: 2px solid;
  color: white;
  padding: 10px 40px;
  background-color: grey;
  font-weight: bolder;
  margin-bottom: 20px;
} */
/* .upper-bar .info {
  margin-bottom: 20px;
  margin-left: 10px;
} */
/* .upper-bar .margin {
  margin-bottom: 50px;
  margin-left: 10px;
} */
/* .lower-bar .pad {
  padding: 30px;
} */
